<div class= "artist-page-wrapper">
  <div class="artist-info">
      <div class="artist-details">
        <h3><%= @artist.name %></h3>
        <% if @artist.location && @artist.followers %>
        <p> <%= @artist.location %>&emsp;|&emsp;<%= @artist.followers.to_s(:delimited) %> Followers</p>
        <% elsif @artist.location || @artist.followers %>
        <p class="mb-3"> <%= @artist.location %> <%=@artist.followers.to_s(:delimited) %> Followers</p>
      <% end %>
        <% unless current_user.is_following?(@artist.id) %>
        <%= link_to "FOLLOW", follow_artist_path(@artist.id, hide_button: true), method: :post, remote: true, :class => "btn-follow-lg" %>
        <% end %>
      </div>
      <div class="artist-img">
        <%= cl_image_tag @artist.photo.key %>
      </div>
    </div>
    <% @posts.each do |post|%>
      <%  case post.source %>
    <% when 'Ticketmaster' %>
      <%= render "shared/ticketmaster_card", post:post %>
    <% when 'Youtube' %>
      <%= render "shared/youtube_card", post:post%>
    <% when 'Facebook' %>
    <div class="artist-post">
      <%= render "shared/facebook_card", post:post%>
    </div>
    <% when 'Twitter' %>
    <div class="artist-post">
      <%= render "shared/twitter_card", post:post%>
    </div>
    <% when 'Instagram' %>
    <div class="artist-post">
      <%= render "shared/instagram_card", post:post%>
    </div>
     <% else %>
     <div class="artist-post">
        <%= render "shared/feed_card", post:post%>
     </div>
    <%  end %>
  <% end %>
</div>
