<div class="universal-card feed-card">
  <div class="post-title">
    <% if post.artist.photo.attached? %>
      <%= link_to artist_path(post.artist) do %>
        <%= cl_image_tag post.artist.photo.key, class: "feed-avatar"%>
      <% end %>
    <% end %>
    <div>
      <h3><%= post.artist.name %> posted on <span style="color:#e1306c"><%= post.source %></span></h3>
      <% if post.contents %>
        <% post.contents.each do |content| %>
          <p><%= content.data if content.format == 'text' %></p>
        <% end %>
    <% end %>
    </div>
  </div>
  <% if post.contents %>
    <% post.contents.each do |content| %>
      <% if content.format == 'image' %>
        <%= cl_image_tag content.data, class: "universal-image" %>
      <% end %>
    <% end %>
  <% end %>
  <div class="card-share">
    <i class="fal fa-retweet"></i>
    <i class="fal fa-heart"></i>
  </div>
</div>
