<div class="universal-card songkick-card">
  <div class="post-title">
    <% if post.artist.photo.attached? %>
        <%= link_to artist_path(post.artist) do %>
        <%= cl_image_tag post.artist.photo.key, class:"feed-avatar" %>
        <% end %>
      <% end %>
      <div class="songkick-title">
      <div>
        <h3> <%= post.artist.name %> has a new concert on <span style="color:#FF004E"> <%= post.source %></span></h3>
        <p><%= post.contents.first.data %></p>
      </div>
      <div class="btn-buy-tickets"> VIEW EVENT</div>
      </div>
  </div>
    <div class="card-share">
      <i class="fal fa-retweet"></i>
      <i class="fal fa-heart"></i>
    </div>
</div>
